/* 드롭다운 컨테이너 */
.dropdown-container {
    position: relative;
    display: inline-block;
}

/* 드롭다운 헤더 */
.dropdown-header {
    padding: 10px;
    font-size: 16px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    color : black;
    font-weight: 800;
}

/* 드롭다운 메뉴 */
.dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    max-height: 200px;  /* 최대 높이를 설정하여 스크롤을 표시 */
    overflow-y: scroll;    /* 스크롤이 필요하면 자동으로 세로 스크롤 표시 */
    border: 2px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 100%;
    max-width: 200px;
}

/* 드롭다운 항목 */
.dropdown-item {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-weight: 800;
}

/* 항목을 hover 했을 때 배경색 변경 */
.dropdown-item:hover {
    background-color: #75574d;
}

/* 드롭다운 메뉴가 열린 상태에서 외부 클릭 시 드롭다운 닫기 */
.dropdown-container:hover .dropdown-menu {
    display: block;
}