.discuss-container {
    padding-top: 15vh;
    display: flex;
    height : 130vh;
    width : 100vw;
    align-items: center;
    background-color: #312e2d;
    flex-direction: column;
    margin:0;
}

.title {
    height:15vh;
    color: #900603;
    font-weight: 800;
    text-decoration: none;
    font-size: 40px;
}

.write-discuss-container {
    display: flex;
    width: 80vw;
    height: 15vh;
    background-color: #420e2c;
    border-radius: 2rem;
    align-items: center;
}

.write-textbox {
    display: block;
    background-color: #242120;
    width:70vw;
    height:10vh;
    margin-left: 2%;
    margin-right: 2%;
    border: 5px solid black;
    color:rgb(121, 121, 121);
    text-decoration:none;
    font-weight: 500;
    font-size: 18px;
}

.write-textbox:focus {
    border-color: rgb(121, 121, 121);  
    outline: none;         
}

.write-button {
    display:block;
    width: 8vw;
    height: 10vh;
    margin-right:2%;
    background-color: #242120;
    border-radius: 2rem;
}

.write-button:active {
    color: #242120;
}