.Home {
    background-color: #312e2d;
}

/* 전체 페이지에서 스크롤바 숨기기
chorm safari edge만 작동 */
::-webkit-scrollbar {
    display: none;
  }

.reverse {
    transform: rotate(180deg);
    transform: scaleY(-1);
    opacity: 0.5;
}