

.new-container {
    display: flex;
    height : 100vh;
    width : 100vw;
    background-color: #312e2d;
    margin:0;
}
.new-title {
    color: #900603;
    font-weight: 800;
    text-decoration: none;
    font-size: 40px;
    padding: 3%;
}