.Header-container {
    display: flex;
    left:1vw;
    position: relative;
    top: -120vh;
    justify-content: space-between;
    background-color: #900603;
    padding: 20px 20px;
    height:10vh;
    width: 95vw;
    flex-direction: row;
    border-radius: 2rem;
}

/*왼쪽 박스*/
.left-container {
    display: flex;
    position: relative;
    flex-direction: row;
}

.HomeLinkIcon {
    display:flex;
    position: relative;
    width: 5vw;
    flex-direction: row;
    background-color: #242120;
    border-radius: 2rem;
}

/*오른쪽 박스*/

.right-container {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}

/*전체*/

.outline-Block {
    display:flex;
    position: relative;
    background-color: #242120;
    width: 7vw;
    flex-direction: row;
    border-radius: 2rem;
    margin-left:20px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}

.Head-font {
    background-color: #242120;
    font-weight: 700;
    border-radius: 2rem;
    text-align : center;
}


/*Link는 가상의 태그이므로 a로 설정해주면됨*/
a {
    color:#900603;
    text-decoration: none;
    font-weight: 800;
    font-size: 30px
}